@page
@model IndexModel
@{
	ViewData["Title"] = "My Music Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Music Page</title>
	<link rel="stylesheet" href="~/css/site.css">
	


</head>
<body>
	<div class="text-center">
		<h1 class="display-4">Welcome to My Music Page!</h1>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/fregObNcHC8" frameborder="0" allowfullscreen></iframe>

	</div>
	<script src="~/js/site.js"></script>
</body>
</html>
